*{
    box-sizing: border-box;
}
.MainContentBlock{
    width: 1200px;
    margin: 0 auto;
    
}
.QuestionCard{
    width: 1200px;
    margin: 20px auto;
    padding: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 2px 10px -5px;
}
.raiting button {
    border: none;
    background: none;
}
.discussion button {
    border: none;
    background: none;
}
.cardTittle{
    width: 1150px;
    display: flex;
    justify-content: space-between;
  
}
.cardAuthor{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.cardAuthor img {
    width: 60px;
    border-radius: 100%;
}
.questionFooter{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.tittle{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.addedTime{
    color: rgba(154, 151, 151, 0.834);
    font-size: 12px;
}
.tagButton{
    border: none;
    background-color: rgba(11, 127, 251, 0.712);
    border-radius: 5px;
}
.cardTag{
    display: flex;
}