*{
    box-sizing: border-box;
}
.questionMainBlock{
    width: 1200px;
    margin: 15px auto;
    background-color: whitesmoke;
    box-shadow: 0px 2px 10px -5px;
    padding: 10px 0px;
}
.QuestionCard{
    width: 1150px;
    margin: 20px auto;
    border-bottom: 1px solid rgba(174, 171, 171, 0.642);
    padding: 6px;
}
.cardTittle{
    width: 1150px;
    display: flex;
    justify-content: space-between;
  
}
.addedTime{
    color: rgba(154, 151, 151, 0.834);
    font-size: 12px;
}
.questionTitle{
    text-align: left;
    margin-top: 20px;
    padding: 15px;

}
.cardAuthor{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.cardAuthor img {
    width: 60px;
    border-radius: 100%;
}
.questionFooter{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.tittle{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.QuestionCard button{
    background: none;
    border: none;
}
.commentsMainBlock {
    text-align: left;
    padding: 20px;

}
.commentsInputBlock{
    width: 800px;
    margin: 0 auto;
    text-align: left;

}
.commentsInputBlock input {
    width: 800px;
    height: 200px;
    border: 1px solid rgba(205, 205, 205, 0.634);
    border-radius: 7px;

}
.commentsInputBlock button{
    border: none;
    background-color: rgba(43, 85, 252, 0.747);
    border-radius: 10px;
}
.commentsTitle{
    width: 200px;
    margin-left: 50px;
    text-align: left;
    display: flex;
}
.commentsTitle img{
    width: 60px;
    border-radius: 100%;
    margin-right: 10px;
}
.commentBlocks{
    width: 800px;
    text-align: center;
    margin: 15px auto 0px;
    border-bottom: 1px solid rgba(181, 180, 180, 0.4);

}
.commentText{
    margin-left: 200px;
    text-align: left;
    padding: 10px;
}
.commentsMap{
    margin-top: 30px;
}