*{
    box-sizing: border-box;
}
.questionMainBlock{
    width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
}
.QuestionCard{
    width: 1200px;
    margin: 20px auto;
    border-bottom: 1px solid rgba(162, 157, 157, 0.772);
    padding: 6px;
}
.cardTittle{
    width: 1150px;
    display: flex;
    justify-content: space-between;
  
}
.cardAuthor{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.cardAuthor img {
    width: 60px;
    border-radius: 100%;
}
.questionFooter{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.tittle{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.QuestionCard button{
    background: none;
    border: none;
}